body{
  background-image: url(../img/fondo.jpg);
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
}
* {
  box-sizing: border-box;
}
h1{
  text-align: center;
  color:rgb(0, 48, 104);
  
  }

.titulo {
  color: rgb(0, 48, 104);
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
  .input-contenedor{
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid rgb(11, 80, 126);
}
.icon{
  min-width: 50px;
  text-align: center;
  color:rgb(0, 48, 104);

}


input[type="text"],
input[type="password"]{
    font-size: 25px;
    width: 89%;
    padding: 10px 100px;
    border: none;
}

.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:  #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background: cadetblue;
}
.link{
  text-decoration: none;
    color: #1a2537;
  font-weight: 600;
}
.link:hover{
   color: cadetblue;
}
p{
  text-align: center;
}
h4{
    font-size: 16px;
    font-weight: 700;
}


header{
  padding: 20px 0 0 0;
  color: rgb(24, 56, 161);
  text-align:center;
  background-size: cover;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100px;
}
@media(min-width :750px){
  header{
      text-align: left;
  }
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 596px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




.hero{
  height: 551px;
}

.button{
  background-color: rgb(21, 97, 121);
  color: rgb(253, 241, 241);
}

header, .alert{

  z-index: 100;
}

.description:hover{
  height: 80px;
  color: aliceblue;

}
.carrito{
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  color: rgb(73, 206, 246);

}
.table__productos{
  display: flex;

}
.table__productos > img{
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
  background-color:rgb(67, 248, 151);

}
.table__cantidad > input{
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;

}
.hide, .remove{
  display: none;
}

.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #2a4673;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}


/* About us */

main .sobre-nosotros{
  padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us{
  width: 48%;
}

.sobre-nosotros .contenido-textos{
  width: 48%;
}

.contenido-textos h3{
  margin-bottom: 15px;
}

.contenido-textos h3 span{
  background: #063386;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;
}

.contenido-textos p{
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}




/* Clients */

.cards{
  display: flex;
  justify-content: space-evenly;
}

.cards .card{
  background: #42c1e7;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid rgb(241, 237, 237);
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card{
  width: 60%;
  color: rgb(8, 8, 8);
}

.cards .card > .contenido-texto-card p{
  font-weight: 300;
  padding-top: 5px;
}

/*  Our team */

.about-services{
  background: #42c1e7;
  padding-bottom: 30px;
}


.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind{
  width: 28%;
  text-align: center;
}

.servicio-ind img{
  width: 90%;
}

.servicio-ind h3{
  margin: 10px 0;
}

.servicio-ind p{
  font-weight: 300;
  text-align: justify;
}

/* footer */

footer{
  background: #42c1e7;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid rgb(6, 7, 7);
}

.content-foo{
  text-align: center;
}

.content-foo h4{
  color: #063386;
  border-bottom: 3px solid #2050d3;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo p{
  color: #063386;
}


@media screen and (max-width:900px){
  header{
      background-position: center;
  }

  .contenedor-sobre-nosotros{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .sobre-nosotros .contenido-textos{
      width: 90%;
  }

  .imagen-about-us{
      width: 90%;
  }

  /* Galeria */

  .imagen-port{
      width: 44%;
  }

  /* Clientes */

  .cards{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .cards .card{
      width: 90%;
  }

  .cards .card:first-child{
      margin-bottom: 30px;
  }

  /* servicios */

  .servicio-cont{
      justify-content: center;
      flex-direction: column;
  }

  .servicio-ind{
      width: 100%;
      text-align: center;
  }

  .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
      margin-bottom: 60px;
  }

  .servicio-ind img{
      width: 90%;
  }
}
nav{
  text-align: right;
  padding: 30px 50px 0 0;
}

nav > a{
  color:rgb(29, 107, 253);
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}

nav > a:hover{
  text-decoration: underline;
}
@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }



@media screen and (max-width:500px){
  nav{
      text-align: center;
      padding: 30px 0 0 0;
  }

  nav > a{
      margin-right: 5px;
  }

  .textos-header h1{
      font-size: 35px;
  }

  .textos-header h2{
      font-size: 20px;
  }

  /* ABOUT US */

  .imagen-about-us{
      margin-bottom: 60px;
      width: 99%;
  }

  .sobre-nosotros .contenido-textos{
      width: 95%;
  }
  

  /* Clients */

  .cards .card{
      height: 450px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cards .card img{
      width: 90px;
      height: 90px;
  }

  

  /* Footer */

  .contenedor-footer{
      flex-direction: column;
      border: none;
  }

  .content-foo{
      margin-bottom: 20px;
      text-align: center;
  }

  .content-foo h4{
      border: none;
  }

  .content-foo p{
      color: rgb(100, 215, 250);
      border-bottom: 1px solid #f2f2f2;
      padding-bottom: 20px;
  }

  .titulo-final{
      font-size: 20px;
  }
}
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.container .post{
  display: none;
}

.container .text{
  padding: 10px 0 0 0; 
  font-size: 25px;
  color: rgb(1, 13, 122);
  width:350px;
  font-weight: 500;
  text-align:justify;

}
.container .edit{
  text-align: top;
padding-top: -1000; 
 font-size: 16px; 
  color: rgb(3, 17, 219);
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}







.star-widget {
   direction: rtl; 

}
.container .star-widget input{
  display: none;
float: center;

}
.star-widget label{
  font-size: 20px;
  color: rgb(49, 49, 48);
  padding: 10px;
  transition: all 0.2s ease;

}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}
input:checked ~ label{
  color: #fd4;
}
input#rate-5:checked ~ label{
  color: #fe7;
  text-shadow: 0 0 20px #952;
}


.container form{
  display: none;
}
input:checked ~ form{
  display: block;
}
form header{
  width: 100%;
  font-size: 25px;
  color: #fe7;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  transition: all 0.2s ease;
}
form .textarea{
  height: 100px;
  width: 100%;
  overflow:hidden;
  direction: ltr;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: rgb(2, 2, 2);
  border: 1px solid rgb(57, 106, 240);
  background: rgb(53, 216, 202);
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textarea textarea:focus{
  border-color: #444;
}
form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .btn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: rgb(24, 145, 214);
  color: rgb(11, 11, 12);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .btn button:hover{
  background: #1b1b1b;
}



form .boton{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .boton button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: rgb(24, 145, 214);
  color: rgb(11, 11, 12);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .botn button:hover{
  background: #1b1b1b;
}




form .textarea{
  height: 100px;
  width: 100%;
  overflow:hidden;
  direction: ltr;
}
form .textarea textarea{
  height: 100%;
  width: 100%;
  outline: none;
  color: rgb(2, 2, 2);
  border: 1px solid rgb(57, 106, 240);
  background: rgb(53, 216, 202);
  padding: 10px;
  font-size: 17px;
  resize: none;
}
.textaarea textarea:focus{
  border-color: #444;
}

form .botn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}
form .botn button{
  height: 100%;
  width: 100%;
  border: 1px solid #444;
  outline: none;
  background: rgb(24, 145, 214);
  color: rgb(11, 11, 12);
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}
form .botn button:hover{
  background: #1b1b1b;
}


